<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!--{$lang.cpanel}--></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<frameset rows="44,*,82" frameborder="NO" border="1" framespacing="0">
  <frame src="<!--{$admin_file}-->?adm=cpanel&opt=top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="200,*" framespacing="0" border="0" id="bodyFrame" name="bodyFrame">
    <frame src="<!--{$admin_file}-->?adm=cpanel&opt=tree"  name="leftFrame" id="leftFrame" scrolling="AUTO" noresize marginwidth="0" marginheight="0">
    <frame src="<!--{$admin_file}-->?adm=games&opt=equipment" name="main" scrolling="yes"  noresize="noresize" id="mainFrame" title="mainFrame" />
  </frameset>
  <frame name="panelHeader" scrolling="no" noresize="true" src="footer.html">
</frameset>
<noframes>
<body>
  <p>Please Use IE 7.0</p>
</body>
</noframes>