<div class="footer">
  <div class="gj-f-commend clearfix">
    <dl class="gj-f-three">
      <dt>友情连接</dt>
      <dd><a ref="nav" href="http://www.mbaobao.com" target="_blank">麦包包</a></dd>
      <dd><a ref="nav" href="http://www.fionny.com" target="_blank">绯尚</a></dd>
      <dd><a ref="nav" href="http://www.tooogooo.com" target="_blank">零食网</a></dd>
    </dl>
    <dl class="gj-f-two">
      <dt>&nbsp;</dt>
      <dd><a ref="nav" href="http://www.vipstore.com" target="_blank">佳品网</a></dd>
      <dd><a ref="nav" href="http://www.wowsai.com" target="_blank">哇噻</a></dd>
    </dl>
    <dl class="gj-f-two">
      <dt>&nbsp;</dt>
      <dd><a ref="nav" href="/avenue/tag/10031">欧美</a></dd>
      <dd><a ref="nav" href="http://www.quwan.com/" target="_blank">趣玩</a></dd>
    </dl>
    <dl class="gj-f-three">
      <dt>&nbsp;</dt>
      <dd><a ref="nav" href="/avenue/tag/10056">毛呢</a></dd>
      <dd><a ref="nav" href="/avenue/tag/10053">纯棉</a></dd>
      <dd><a ref="nav" href="/avenue/tag/10058">羊绒</a></dd>
    </dl>
    <dl class="gj-f-two">
      <dt>&nbsp;</dt>
      <dd><a ref="nav" href="http://www.xzhuang.com" target="_blank">校妆</a></dd>
      <dd><a ref="nav" href="http://www.kela.cn" target="_blank">珂兰钻石</a></dd>
    </dl>
  </div>
  <div class="gj-f-web">
    <div class="copyright"> 校园淘客导购&copy;2012 </div>
    <div class="about"> <span class="gj-pipe">|</span><a href="/tagmap/tagmaplist.html" ref="nav" target="_blank">网站地图</a> <span class="gj-pipe">|</span><script type="text/javascript" src="http://js.tongji.linezing.com/2946507/tongji.js"></script>
      <noscript>
      <a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2946507/tongji.gif"/></a>
      </noscript>
      <span class="gj-pipe">|</span><a ref="nav" >鄂ICP备11020636号-1</a> </div>
  </div>
</div>
</body></html>