<div style="width:600px; margin:10px auto;">
<p>Dear Customer:  </p>
<p>Thank you! Your information has been successfully updated in our records as follows: </p>
</div>
<table cellspacing="1" cellpadding="10" border="0" bgcolor="#000000"  width="600" style="margin-top: 6px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">
  <tbody>
    <tr>
      <td   bgcolor="#ffffff">Contact Name:</td>
      <td width="78%" bgcolor="#ffffff" class="main_bright"><!--{$doc.truename}-->
        &nbsp;</td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Company Name:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.company}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Address:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.address}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Tel:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.phone}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Fax:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.fax}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Email Address:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.email}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Sales ID:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.salesid}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Customer ID:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.account}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Price Sheet:</td>
      <td bgcolor="#ffffff" class="main_bright">
        <!--{$doc.pricesheet}-->
       </td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">User Name:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.username}--></td>
    </tr>
    <tr>
      <td  bgcolor="#ffffff">Password:</td>
      <td bgcolor="#ffffff" class="main_bright"><!--{$doc.ps}--></td>
    </tr>
  </tbody>
</table>
<div style="width:600px; margin:10px auto;">
<p>We sincerely appreciate your business.</p>
<p>Avatar Seeds</p>
</div>

