<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$conf.sitename}--></title>
<meta name="keywords" content="<!--{$conf.keywords}-->" />
<meta name="description" content="<!--{$conf.description}-->" />
<script type="text/JavaScript" src="<!--{$s_url}-->/js/jquery.js"></script>
<link rel="stylesheet" href="images/main.css" type="text/css">
</head>
<body>
<div class="logo"><img src="images/logo.jpg" /></div>
<div class="mainnav">
  <ul class="newNav clearfix">
    <li id="gj_nav_home"  > <a class="index-link" ref="nav" href="/">首页</a> </li>
    <li id="gj_nav_plaza"  class = "selected"  > <a class="home-link" ref="nav" href="/">推荐</a> </li>
    <li id="gj_nav_women"  > <a class="street-link" ref="nav" href="/women">连衣裙</a> </li>
    <li id="gj_nav_jewellery"  > <a class="street-link" ref="nav" href="/jewellery">香水</a> </li>
    <li id="gj_nav_cosmetology"  > <a class="street-link" ref="nav" href="/cosmetology">防晒</a> </li>
  </ul>
</div>
<div id="banner">
  <div class="banner_left"> <img src="images/test1.jpg" /> </div>
  <div class="banner_right">
    <div class="top_title">精彩推荐</div>
    <div class="top_main">
      <div class="top_img"><img src="images/test2.jpg" /></div>
      <div class="top_text">
        <h2><a href="http://j.renren.com/avenue?source=tj_0720" target="_blank">百变商品集中营来啦！！</a></h2>
        <p>最酷的达人引领最炫的商品，最潮的季节给你最不一样的时尚！玩转人人逛街，从这里开始>></p>
      </div>
    </div>
  </div>
</div>